.App {
  background: #f0f2f3;
  /* background: rgb(11, 10, 36); */
}
.search-feild {
  color: rgb(36, 6, 85);
}
.search-icon {
  color: rgba(11, 107, 136, 0.767);
}

/* foods image style  */
.food-image {
  width: 250px;
}
